<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Heebo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" async defer></script>
    <title>Document</title>
</head>
<body>
     <div class="main-content">
        {{>header}}

        <form>
            <input type="text" name="address" id="address" placeholder="Location">
            <button type="submit">Search</button>
        </form>
        <p class="error"></p>
        <ul class="weather">
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    {{>footer}}
</body>
</html>