<header>
    <h1>Weather App</h1>
    <ul>
        <li><a href="/">Weather</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/help">help</a></li>
    </ul>
    <p>{{title}}</p>
    

</header>